---
title: Home
description: Applying deep learning for cassav leaf based disease diagnosis.
#image: https://source.unsplash.com/ZgHEZLVec9g/2000x1322?a=.png 
#bottom_image: https://unsplash.it/2000/1322?a=.png
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Diagnosing Cassava</h1>
			<p class="subtext editable">MwogoNet is an Artificial Intelligence project that uses Deep Learning. It aims at helping Cassava farmers and researchers diagnose diseases based on the signs portrayed on the leaf.</p>
			<div class="cta button alt"><a href="#">Coming soon</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">The Diagnosis Dilemma</h2>
				<p class="editable">Cassava is the most widely grown food crop in Uganda, and Africa at large, and is source of carbohydrates.
				However, Cassava has one major weakness. It's susceptible to various cassava diseases. We are working on an automated 
				method, using current state of the art Deep learning techniques to make it easier for farmers and researchers to detect and diagnose
				these diseases faster.</p>
			</div>
			<div class="image">
				<img class="editable" src="first_lvl.jpg" alt="Screenshot" />
			</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">MwogoNet</h2>
				<p class="editable"> We think that to make our cassava disease diagnosis models more accurate, we need to first guide it, to learn what characteristics
				make up a leaf. Using semantic segmentation, MwogoNet first automatically extracts the noisy background from the leaf, and passes
				it to the Convolutional Neural Network trained to classify Cassava Mosaic Disease, Cassava Brownstreak disease and Cassava Bacterial Blight</p>
			</div>
			<div class="image">
				<img class="editable" src="MwogoNet.png" alt="Screenshot" />
			</div>
		</div>
	</section>
	
	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">How it works</h2>
				<p class="editable">Step1: Feed the model with unseen diseased (test)image <br>
				Step2: Model eliminates noisy background from the image through semantic segmentation <br>
				Step3: Model passes the new clear image to the disease classification Neural network <br>
				Step4: Model is able to classify the cassava diseases, returning predicted disease + Severity score</p>
			</div>
			<div class="image">
				<img class="editable" src="pjimage.jpg" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Who can use it?</h2>
				<p class="editable">MwogoNet can be used by anyone curious and ready to use technology to ease the 
				tedious and time consuming task of cassava disease diagnois. Farmers, Agricultural researchers, Students,
				Data Scientist and everyone is welcome to try out MwogoNet</p>
			</div>
			<div class="image">
				<img class="editable" src="happy_farmer.jpg" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">MwogoNet</h2>
				<p class="subtext editable">Using Artificial intelligence in Africa, for Africa.</p>
				
			</div>
		</div>
	</section>
</div>
